*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-image: linear-gradient(to right, rgb(233, 199, 199), rgb(229, 101, 184));
    width:100vw;
    height: 100vh;
}
.main{
    display:flex;
   height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.title{
    color:rgb(121, 26, 137);
    background-color: white;
    width:7.5em;
    padding:3px;
    /* width:100px; */
}
.name{
    color:white;
    font-size: 8vw;
}
.times{
    color:rgb(121, 26, 137);
    font-size:6.5vw; 
    margin:30px;  
}
.time{
    background-color:rgb(252, 233, 233) ;
    border-radius:7px;
    padding:3px;
}
.date{
    margin-top:15px;
    font-size:3vw;
    color:white;
}